@font-face {
  font-family: 'museo light';
  src: url("../assets/fonts/museo/museo-300-webfont.eot"), url("../assets/fonts/museo/museo-300-webfont.woff") format("woff"), url("../assets/fonts/museo/museo-500-webfont.ttf") format("truetype"), url("../assets/fonts/museo/museo-700-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../assets/fonts/montserrat/montserrat-bold-webfont.eot"), url("../assets/fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../assets/fonts/montserrat/Montserrat-Light.eot"), url("../assets/fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../assets/fonts/montserrat/Montserrat-Medium.eot"), url("../assets/fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url("../assets/fonts/montserrat/Montserrat-Thin.eot"), url("../assets/fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light Italic';
  src: url("../assets/fonts/montserrat/Montserrat-LightItalic.eot"), url("../assets/fonts/montserrat/Montserrat-LightItalic.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div {
  font-family: 'Montserrat Regular', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.radius-0 {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.museo {
  font-family: 'museo light', sans-serif !important;
}

.mont-regular {
  font-family: 'Montserrat Regular', sans-serif !important;
}

.mont-bold {
  font-family: 'Montserrat Bold', sans-serif !important;
}

.mont-light {
  font-family: 'Montserrat Light', sans-serif !important;
}

.mont-medium {
  font-family: 'Montserrat Medium', sans-serif !important;
}

.mont-thin {
  font-family: 'Montserrat Thin', sans-serif !important;
}

.mont-lt {
  font-family: 'Montserrat Light Italic', sans-serif !important;
}

.open-sans {
  font-family: 'Open Sans', sans-serif !important;
}

@keyframes float {
  0% {
    transform: translate(-5%, -2%);
    -webkit-transform: translate(-5%, -2%);
    -moz-transform: translate(-5%, -2%);
    -ms-transform: translate(-5%, -2%);
    -o-transform: translate(-5%, -2%);
  }
  50% {
    transform: translate(-5%, -32%);
    -webkit-transform: translate(-5%, -32%);
    -moz-transform: translate(-5%, -32%);
    -ms-transform: translate(-5%, -32%);
    -o-transform: translate(-5%, -32%);
  }
  100% {
    transform: translate(-5%, -2%);
    -webkit-transform: translate(-5%, -2%);
    -moz-transform: translate(-5%, -2%);
    -ms-transform: translate(-5%, -2%);
    -o-transform: translate(-5%, -2%);
  }
}

body#leadsPage .navbar-dark .navbar-brand.museo {
  color: #707070 !important;
}

body#leadsPage .jumbotron.banner {
  padding: 0 2rem;
  margin-bottom: 0;
  background: transparent;
  height: 85vh;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner {
    height: 55vh;
  }
}

body#leadsPage .jumbotron.banner .container {
  padding: 3rem 0 0;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container {
    padding: 6rem 0 0;
  }
}

body#leadsPage .jumbotron.banner .container img.cover-banner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: 5% 0;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container img.cover-banner {
    height: 60vh;
    object-fit: cover;
    object-position: top;
  }
}

body#leadsPage .jumbotron.banner .container .text-banner {
  color: #707070;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .text-banner {
    padding-top: 3rem;
    padding-right: 5rem;
    padding-left: 0;
  }
}

body#leadsPage .jumbotron.banner .container .text-banner h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .text-banner h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

body#leadsPage .jumbotron.banner .container .text-banner p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .text-banner p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

body#leadsPage .jumbotron.banner .container .form-banner {
  background: #FFF;
  border: 1px solid #707070;
  padding: 2rem;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .form-banner {
    padding: 2.5rem;
  }
}

body#leadsPage .jumbotron.banner .container .form-banner .form-group {
  position: relative;
}

body#leadsPage .jumbotron.banner .container .form-banner .form-group span {
  position: absolute;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #707070;
  top: 50%;
  left: 8%;
  margin-right: 0;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .form-banner .form-group span {
    left: 6%;
  }
}

body#leadsPage .jumbotron.banner .container .form-banner .form-group span i {
  color: #707070;
  font-size: 1.5rem;
}

body#leadsPage .jumbotron.banner .container .form-banner .form-group input.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: .5rem 2rem;
  font-size: .95rem;
  color: #707070;
  border: 1.25px solid #707070;
  border-radius: 0;
}

@media (min-width: 768px) {
  body#leadsPage .jumbotron.banner .container .form-banner .form-group input.form-control {
    padding: .5rem 2.25rem;
  }
}

body#leadsPage .jumbotron.banner .container .form-banner .form-group select.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: .5rem .25rem;
  font-size: .95rem;
  color: #707070;
  border: 1.25px solid #707070;
  border-radius: 0;
}

body#leadsPage section.section-one {
  color: #707070;
  margin: 1rem 0 0;
}

@media (min-width: 768px) {
  body#leadsPage section.section-one {
    margin: 0;
  }
}

body#leadsPage section.section-one h1.title-head {
  font-size: 1.5rem;
  margin: 0 0 2rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-one h1.title-head {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
}

body#leadsPage section.section-one .card .card-body h5.card-title {
  font-weight: bold;
}

body#leadsPage section.section-one .card .card-body .btn-group button {
  padding: .25rem 1.25rem;
  font-size: 1rem;
}

body#leadsPage section.section-two .desc-right h5.title {
  color: #707070;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-two .desc-right h5.title {
    font-size: 1.75rem;
  }
}

body#leadsPage section.section-two .desc-right p.text-desc {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-two .desc-right p.text-desc {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

body#leadsPage section.section-two .thumb-img {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-two .thumb-img img.thumbs {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
}

body#leadsPage section.section-three {
  position: relative;
}

body#leadsPage section.section-three h1.title-head {
  color: #707070;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three h1.title-head {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

body#leadsPage section.section-three .swiper-container {
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  color: #707070;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container {
    height: 50%;
  }
}

body#leadsPage section.section-three .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  padding: 0.5rem 3.75rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container .swiper-slide {
    padding: 2.5rem 12rem;
  }
}

body#leadsPage section.section-three .swiper-container .swiper-slide img.ic-quotes {
  position: absolute;
  left: 11.5%;
  width: 60px;
  top: 0;
}

body#leadsPage section.section-three .swiper-container .swiper-slide .text-name {
  font-family: 'Playfair Display', sans-serif;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #707070;
  text-align: left;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container .swiper-slide .text-name {
    width: 75%;
    margin-bottom: 2rem;
    font-size: 1.75rem;
  }
}

body#leadsPage section.section-three .swiper-container .swiper-slide .name {
  position: absolute;
  bottom: 20%;
  right: 20%;
  font-size: 1rem;
  color: #707070;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container .swiper-slide .name {
    bottom: 25%;
    right: 15%;
    font-size: 1.25rem;
  }
}

body#leadsPage section.section-three .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #FFF;
  opacity: 1;
  border: 1px solid #707070;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

body#leadsPage section.section-three .swiper-container .swiper-pagination-bullet-active {
  background: #707070;
}

body#leadsPage section.section-three .swiper-container .swiper-button-next,
body#leadsPage section.section-three .swiper-container .swiper-button-prev {
  color: #707070;
}

body#leadsPage section.section-three .swiper-container .swiper-button-next:focus,
body#leadsPage section.section-three .swiper-container .swiper-button-prev:focus {
  outline: 0;
  box-shadow: none;
}

body#leadsPage section.section-three .swiper-container .swiper-button-next:after,
body#leadsPage section.section-three .swiper-container .swiper-button-prev:after {
  font-size: 2rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-three .swiper-container .swiper-button-next:after,
  body#leadsPage section.section-three .swiper-container .swiper-button-prev:after {
    font-size: 2.75rem;
  }
}

body#leadsPage section.section-four .head-title h1.title-section {
  color: #707070;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .head-title h1.title-section {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

body#leadsPage section.section-four .head-title p.desc-title {
  color: #707070;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto 2.5rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .head-title p.desc-title {
    font-size: 1.15rem;
    width: 70%;
    margin: 0 auto 3rem;
  }
}

body#leadsPage section.section-four .form-bottom {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .form-bottom {
    margin-bottom: 2.5rem;
  }
}

body#leadsPage section.section-four .form-bottom .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .form-bottom .form-inline {
    padding: 0 2rem;
  }
}

body#leadsPage section.section-four .form-bottom .form-inline .form-group {
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .form-bottom .form-inline .form-group {
    margin-bottom: 2rem;
  }
}

body#leadsPage section.section-four .form-bottom .form-inline .form-group .form-control {
  width: 100%;
  height: auto;
  color: #707070;
  padding: .5rem;
  font-size: .95rem;
  border: 1px solid #707070;
}

@media (min-width: 768px) {
  body#leadsPage section.section-four .form-bottom .form-inline .form-group .form-control {
    padding: .5rem 1.25rem;
    font-size: 1rem;
  }
}

body#acquisitionPage .navbar-dark .navbar-brand.museo {
  color: #707070 !important;
}

body#acquisitionPage section.banner-jumbo {
  position: relative;
}

body#acquisitionPage section.banner-jumbo .container {
  padding: 0;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#acquisitionPage section.banner-jumbo .container h1.title-banner {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 375px) {
  body#acquisitionPage section.banner-jumbo .container h1.title-banner {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.banner-jumbo .container h1.title-banner {
    font-size: 6rem;
  }
}

body#acquisitionPage section.banner-jumbo .container button.btn-secondary {
  background: transparent;
  color: #707070;
  border: 1px solid #707070;
  padding: .5rem 2rem;
}

body#acquisitionPage section.banner-jumbo img.ics-arrow {
  width: 40px;
  position: absolute;
  bottom: 1.5rem;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  animation: float 1s ease-in-out infinite;
}

@media (min-width: 768px) {
  body#acquisitionPage section.banner-jumbo img.ics-arrow {
    left: 50%;
  }
}

body#acquisitionPage section.section-one {
  padding: 4rem 0 0;
  color: #707070;
}

body#acquisitionPage section.section-one .box-item {
  margin-bottom: 3rem;
  text-align: center;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item {
    text-align: left;
  }
}

body#acquisitionPage section.section-one .box-item h5.title {
  font-size: 1.5rem;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-one .box-item h5.title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item h5.title {
    font-size: 2.25rem;
  }
}

body#acquisitionPage section.section-one .box-item p.text-desc {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item p.text-desc {
    margin-bottom: 1.75rem;
  }
}

body#acquisitionPage section.section-one .box-item button.btn-secondary {
  background: transparent;
  color: #707070;
  border: 1px solid #707070;
  padding: .5rem 2rem;
}

body#acquisitionPage section.section-one .box-item-left {
  margin-bottom: 1.25rem;
  text-align: center;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item-left {
    text-align: left;
  }
}

body#acquisitionPage section.section-one .box-item-left img.ics-ask {
  width: 50px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item-left img.ics-ask {
    width: 60px;
  }
}

body#acquisitionPage section.section-one .box-item-left p.text-desc {
  width: 100%;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-one .box-item-left p.text-desc {
    width: 80%;
  }
}

body#acquisitionPage section.section-two {
  padding: 4rem 0 2rem;
  color: #707070;
}

body#acquisitionPage section.section-two .item-cols {
  margin-bottom: 1rem;
}

body#acquisitionPage section.section-two .item-cols .box-img h5.title {
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-two .item-cols .box-img h5.title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-two .item-cols .box-img h5.title {
    font-size: 2.25rem;
    text-align: left;
  }
}

body#acquisitionPage section.section-two .testimonial {
  padding: 2rem 0;
}

body#acquisitionPage section.section-two .testimonial h1.title-testi {
  font-size: 1.5rem;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-two .testimonial h1.title-testi {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-two .testimonial h1.title-testi {
    font-size: 2.25rem;
  }
}

body#acquisitionPage section.section-two .testimonial p.text-desc {
  width: 100%;
  margin: 1.5rem auto;
  font-size: 1rem;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-two .testimonial p.text-desc {
    width: 85%;
    font-size: 1rem;
  }
}

body#acquisitionPage section.section-two .testimonial button.btn-secondary {
  background: #BCBCBC;
  border-color: #BCBCBC;
  padding: .75rem 1.25rem;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-two .testimonial button.btn-secondary {
    padding: .75rem 2.5rem;
  }
}

body#acquisitionPage section.section-three {
  position: relative;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three {
    padding: 4rem 0;
  }
}

body#acquisitionPage section.section-three h1.title-head {
  color: #707070;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-three h1.title-head {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three h1.title-head {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

body#acquisitionPage section.section-three .swiper-container {
  width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #707070;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-three .swiper-container {
    height: 35%;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container {
    height: 40%;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  padding: 0.5rem 2.5rem .5rem 4.25rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-slide {
    padding: 2.5rem 7rem;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-slide img.ic-quotes {
  position: absolute;
  width: 30px;
  left: -8%;
  top: -18%;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-slide img.ic-quotes {
    width: 50px;
    left: -8%;
    top: -25%;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-slide .text-name {
  font-family: 'Playfair Display', sans-serif;
  width: 100%;
  margin-bottom: 3rem;
  font-size: .75rem;
  color: #707070;
  text-align: left;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-slide .text-name {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-slide .name {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: .85rem;
  color: #707070;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-slide .name {
    bottom: -25%;
    right: 5%;
    font-size: 1.25rem;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #FFF;
  opacity: 1;
  border: 1px solid #707070;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-pagination-bullet-active {
  background: #707070;
}

body#acquisitionPage section.section-three .swiper-container .swiper-button-next,
body#acquisitionPage section.section-three .swiper-container .swiper-button-prev {
  color: #707070;
}

body#acquisitionPage section.section-three .swiper-container .swiper-button-next:focus,
body#acquisitionPage section.section-three .swiper-container .swiper-button-prev:focus {
  outline: 0;
  box-shadow: none;
}

body#acquisitionPage section.section-three .swiper-container .swiper-button-next:after,
body#acquisitionPage section.section-three .swiper-container .swiper-button-prev:after {
  font-size: 2rem;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-button-next:after,
  body#acquisitionPage section.section-three .swiper-container .swiper-button-prev:after {
    font-size: 2.75rem;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-button-next {
  right: 0;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-button-next {
    right: 10px;
  }
}

body#acquisitionPage section.section-three .swiper-container .swiper-button-prev {
  left: 0;
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-three .swiper-container .swiper-button-prev {
    left: 10px;
  }
}

body#acquisitionPage section.section-four {
  padding: 4rem 0;
  color: #707070;
}

body#acquisitionPage section.section-four h1.title-bottom {
  font-size: 2.5rem;
}

@media (min-width: 375px) {
  body#acquisitionPage section.section-four h1.title-bottom {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  body#acquisitionPage section.section-four h1.title-bottom {
    font-size: 5rem;
  }
}

footer {
  background: #D3D3D3;
  padding: 2rem 0;
  color: #707070;
}

footer p.m-0.mont-light {
  font-size: .85rem;
}

@media (min-width: 768px) {
  footer p.m-0.mont-light {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */